In [267]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [268]:
df=pd.read_csv("Language Detection.csv")
df.head()

                                                Text Language
0   Nature, in the broadest sense, is the natural...  English
1  "Nature" can refer to the phenomena of the phy...  English
2  The study of nature is a large, if not the onl...  English
3  Although humans are part of nature, human acti...  English
4  [1] The word nature is borrowed from the Old F...  English

In [269]:
df.tail()

                                                    Text Language
10332  ನಿಮ್ಮ ತಪ್ಪು ಏನು ಬಂದಿದೆಯೆಂದರೆ ಆ ದಿನದಿಂದ ನಿಮಗೆ ಒ...  Kannada
10333  ನಾರ್ಸಿಸಾ ತಾನು ಮೊದಲಿಗೆ ಹೆಣಗಾಡುತ್ತಿದ್ದ ಮಾರ್ಗಗಳನ್...  Kannada
10334  ಹೇಗೆ ' ನಾರ್ಸಿಸಿಸಮ್ ಈಗ ಮರಿಯನ್ ಅವರಿಗೆ ಸಂಭವಿಸಿದ ಎ...  Kannada
10335  ಅವಳು ಈಗ ಹೆಚ್ಚು ಚಿನ್ನದ ಬ್ರೆಡ್ ಬಯಸುವುದಿಲ್ಲ ಎಂದು ...  Kannada
10336  ಟೆರ್ರಿ ನೀವು ನಿಜವಾಗಿಯೂ ಆ ದೇವದೂತನಂತೆ ಸ್ವಲ್ಪ ಕಾಣು...  Kannada

In [270]:
df.shape

(10337, 2)

In [271]:
df.isnull().sum()

Text        0
Language    0
dtype: int64

In [272]:
df["Language"].value_counts()

Language
English       1385
French        1014
Spanish        819
Portugeese     739
Italian        698
Russian        692
Sweedish       676
Malayalam      594
Dutch          546
Arabic         536
Turkish        474
German         470
Tamil          469
Danish         428
Kannada        369
Greek          365
Hindi           63
Name: count, dtype: int64

In [273]:
len(df['Language'].unique())

17

In [274]:
df.loc[df["Language"]=="Tamil"]

                                                   Text Language
2042  விக்கிப்பீடியா (Wikipedia; /ˌwɪkɪˈpiːdiə/ (கேட...    Tamil
2043  தமிழ் விக்கிப்பீடியாவின் 1,00,000க்கும் மேற்பட...    Tamil
2044  பெரும்பாலும் இதன் எல்லாக் கட்டுரைகளும், இதனைப்...    Tamil
2045  [6] மேலும் இது கிட்டத்தட்ட 100,000 முனைப்பான ப...    Tamil
2046  [7][8] சனவரி 2021 வரையில், விக்கிப்பீடியா 285 ...    Tamil
...                                                 ...      ...
2506  உங்கள் தவறு என்னவென்றால், அன்றிலிருந்து இன்றுவ...    Tamil
2507  நர்சிசா அவள் முதலில் போராடிய வழிகளை மாற்றினாள்...    Tamil
2508  எப்படி ' இப்போது நடந்த எல்லாவற்றையும் மரியான் ...    Tamil
2509  அவள் இனிமேல் தங்க ரொட்டியை விரும்ப மாட்டாள் என...    Tamil
2510  டெர்ரி நீங்கள் உண்மையில் அந்த தேவதையைப் போலவே ...    Tamil

[469 rows x 2 columns]

In [275]:
df.loc[df["Language"]=="Dutch"]

                                                   Text Language
4264  Nature (Engels voor 'natuur') is een Brits voo...    Dutch
4265                 Het staat als gerenommeerd bekend.    Dutch
4266  Het verscheen voor het eerst op 4 november 186...    Dutch
4267  Het groeide uit van een eenvoudige publicatie ...    Dutch
4268  Een publicatie in Nature wordt door wetenschap...    Dutch
...                                                 ...      ...
4805  Ik weet dat het me zo spijt van de manier waar...    Dutch
4806  narcisa veranderde haar manier van doen ze wor...    Dutch
4807  hoe' Marian vertelde hun nu allebei alles wat ...    Dutch
4808  heeft ze, denk ik dat ze nu geen goudbrood mee...    Dutch
4809  Terry je lijkt eigenlijk een beetje op die eng...    Dutch

[546 rows x 2 columns]

In [276]:
df.loc[df["Language"]=="Hindi"]

                                                   Text Language
1979  विकि-शब्दकोष (एक मुक्त शब्दकोष एवं समानांतर को...    Hindi
1980  [42] अंत में, विकिपीडिया एक पक्ष नहीं लेता है।...    Hindi
1981  बोट्स नामक कंप्यूटर प्रोग्राम के निर्माण के बा...    Hindi
1982               ""नहीं, हम नहीं जानते", जिमी ने कहा.    Hindi
1983  [60] कुछ आलोचकों का दावा है कि विकिपीडिया की ख...    Hindi
...                                                 ...      ...
2037  मैं सोच रहा था कि क्या यो मेरी मदद कर सकता है।...    Hindi
2038                     कैसे कुछ आइसक्रीम के बारे में?    Hindi
2039             क्या आप मुझे एक सवारी घर देना चाहेंगे?    Hindi
2040  जी बोलिये। यह बहुत अच्छा होगा, धन्यवाद। मैं ठी...    Hindi
2041  एक सेकंड पर लटकाओ। बस एक पल मेरे साथ सहन करो। ...    Hindi

[63 rows x 2 columns]

In [277]:
import re

def remove_sub(text):
    text = re.sub(r'[!@#$(),n"%^*?:;~`0-9\[\]]', ' ', text)
    return text

In [278]:
word="hello[1]23"
print(remove_sub(word))

hello

In [279]:
df['Text']=df['Text'].apply(remove_sub)
df['Text']=df['Text'].str.lower()
df['Text'][:10]

0     nature  i  the broadest se se  is the  atural...
1     nature  ca  refer to the phe ome a of the phy...
2    the study of  ature is a large  if  ot the o l...
3    although huma s are part of  ature  huma  acti...
4        the word  ature is borrowed from the old f...
5        i  a cie t philosophy   atura is mostly us...
6           \nthe co cept of  ature as a whole  the...
7    duri g the adve t of moder  scie tific method ...
8           with the i dustrial revolutio    ature ...
9    however  a vitalist visio  of  ature  closer t...
Name: Text, dtype: object

In [280]:
df.loc[df["Language"]=="Tamil"]

                                                   Text Language
2042  விக்கிப்பீடியா  wikipedia  /ˌwɪkɪˈpiːdiə/  கேட...    Tamil
2043  தமிழ் விக்கிப்பீடியாவின்         க்கும் மேற்பட...    Tamil
2044  பெரும்பாலும் இதன் எல்லாக் கட்டுரைகளும்  இதனைப்...    Tamil
2045      மேலும் இது கிட்டத்தட்ட         முனைப்பான ப...    Tamil
2046         சனவரி      வரையில்  விக்கிப்பீடியா     ...    Tamil
...                                                 ...      ...
2506  உங்கள் தவறு என்னவென்றால்  அன்றிலிருந்து இன்றுவ...    Tamil
2507  நர்சிசா அவள் முதலில் போராடிய வழிகளை மாற்றினாள்...    Tamil
2508  எப்படி ' இப்போது நடந்த எல்லாவற்றையும் மரியான் ...    Tamil
2509  அவள் இனிமேல் தங்க ரொட்டியை விரும்ப மாட்டாள் என...    Tamil
2510  டெர்ரி நீங்கள் உண்மையில் அந்த தேவதையைப் போலவே ...    Tamil

[469 rows x 2 columns]

In [281]:
hindi_sample=df.loc[df["Language"]=="Hindi"].sample(800,replace=True)
hindi_sample

                                                   Text Language
1983       कुछ आलोचकों का दावा है कि विकिपीडिया की ख...    Hindi
1995  इस दुनिया में कोई भी किसी भी विषय के बारे में ...    Hindi
2013                                    कैसा चल रहा है     Hindi
2036      क्या आप मुझे कुछ पैसे उधार देने का मन करेंगे     Hindi
1979  विकि-शब्दकोष  एक मुक्त शब्दकोष एवं समानांतर को...    Hindi
...                                                 ...      ...
2031   क्या आप इस सप्ताह के अंत में कुछ करना चाहते हैं     Hindi
2027     कैसे आज रात के खाने के लिए पिज्जा के बारे में     Hindi
2018           क्या आपको पता होगा कि पुस्तकालय कहाँ है     Hindi
2016                   बहुत बहुत शुक्रिया। आप कैसे हैं     Hindi
1981  बोट्स नामक कंप्यूटर प्रोग्राम के निर्माण के बा...    Hindi

[800 rows x 2 columns]

In [282]:
df=pd.concat([df,hindi_sample],copy=True)

In [283]:
df.shape

(11137, 2)

In [284]:
from sklearn.preprocessing import LabelEncoder

encoder=LabelEncoder()
test_sample=encoder.fit_transform(df['Language'])
test_sample.shape

(11137,)

In [285]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf=TfidfVectorizer(analyzer="char",
    ngram_range=(3,5),
    min_df=5,
    max_features=100_000,
    lowercase=True)
train_sample=tfidf.fit_transform(df['Text'])
# train_sample=train_sample.toarray()
train_sample.shape

(11137, 100000)

In [286]:
test_sample

array([3, 3, 3, ..., 7, 7, 7])

In [287]:
train_sample

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 3698125 stored elements and shape (11137, 100000)>

In [288]:
from sklearn.model_selection import train_test_split

xtrain,xtest,ytrain,ytest=train_test_split(train_sample,test_sample,test_size=0.2,stratify=test_sample)

print(xtrain.shape)
print(xtest.shape)

(8909, 100000)
(2228, 100000)

In [289]:
xtrain[6000].dtype

dtype('float64')

In [290]:
xtest[1000].dtype

dtype('float64')

In [291]:
ytrain[0].dtype

dtype('int32')

In [292]:
import torch
from torch import nn
from torch.utils.data import Dataset, DataLoader

In [293]:
class TextDataset(Dataset):
    def __init__(self, X, y):
        self.X = X
        self.y = y

    def __len__(self):
        return self.X.shape[0]  

    def __getitem__(self, idx):
        return (
            torch.tensor(self.X[idx].toarray(), dtype=torch.float32).squeeze(0),
            torch.tensor(self.y[idx], dtype=torch.long)
        )

In [294]:
batch_size = 32

train_dataset = TextDataset(xtrain, ytrain)
test_dataset  = TextDataset(xtest, ytest)

train_loader = DataLoader(train_dataset, batch_size=batch_size, shuffle=True,pin_memory=True)
test_loader  = DataLoader(test_dataset, batch_size=batch_size,pin_memory=True)

In [295]:
train_loader

In [303]:
class model_v0(nn.Module):
    def __init__(self,input,output):
        super().__init__()
        self.layer=nn.Sequential(
            nn.Linear(in_features=input,out_features=128),
            nn.ReLU(),
            nn.Dropout(0.3),
            nn.Linear(in_features=128,out_features=output),
        )
    def forward(self,x):
        return self.layer(x)

In [304]:
model_0=model_v0(xtrain.shape[1],17)
model_0.state_dict()

OrderedDict([('layer.0.weight',
              tensor([[-7.9296e-04,  1.7416e-03, -2.6868e-03,  ...,  8.2753e-04,
                        2.5284e-03,  1.6515e-03],
                      [ 2.8526e-03, -1.0375e-03,  1.5943e-03,  ...,  3.5863e-04,
                        2.2535e-03,  2.3962e-04],
                      [ 7.7786e-05, -2.7144e-03, -1.4345e-03,  ...,  6.1888e-04,
                       -4.0695e-04,  9.6746e-04],
                      ...,
                      [-6.9120e-04,  9.2719e-04, -2.9719e-04,  ...,  5.9090e-04,
                        5.0700e-04, -6.8201e-04],
                      [-2.3958e-03, -8.8821e-04, -2.4853e-03,  ..., -6.9342e-05,
                        2.8585e-03,  1.0368e-03],
                      [ 6.0657e-04,  7.1237e-04, -2.2666e-03,  ..., -9.6390e-04,
                       -3.3935e-04,  2.7090e-03]])),
             ('layer.0.bias',
              tensor([ 2.0160e-03, -2.7589e-03,  5.2314e-04,  2.1750e-03, -2.5069e-03,
                       2.7631e-03,  3.1610e-03,  1.2661e-03, -1.0404e-04,  1.4929e-03,
                       1.9919e-03, -5.4490e-04, -3.5622e-04, -1.1963e-03,  1.9566e-03,
                      -2.8563e-04, -3.0246e-03,  3.1444e-03,  2.3143e-03,  1.4407e-05,
                       2.7817e-03, -4.1827e-04,  4.0197e-04, -2.2971e-03, -3.0587e-03,
                      -6.3845e-04,  5.1483e-04, -3.0400e-03, -3.8977e-04,  2.3821e-03,
                       1.1311e-03, -1.5690e-03, -1.6812e-03,  2.5632e-03,  1.1973e-03,
                      -1.8254e-03, -2.9459e-03,  6.8824e-04, -1.1676e-03, -6.0172e-04,
                      -2.7103e-03,  1.8897e-03, -1.3903e-03,  8.1646e-04,  1.2116e-03,
                       1.5595e-03, -1.2339e-03,  4.6427e-04, -2.5091e-03,  7.4097e-04,
                       1.4626e-03,  3.0546e-03,  2.9267e-03, -3.8308e-04,  7.5364e-04,
                      -1.1158e-03, -1.5429e-03, -8.1291e-04,  4.8991e-04,  2.2097e-03,
                      -2.3626e-03,  8.3298e-04, -6.9544e-04, -1.5431e-03, -6.8803e-04,
                      -1.6028e-03,  1.6114e-03, -2.8194e-03,  2.7638e-03, -3.0531e-03,
                       2.7124e-03, -3.1134e-03,  1.1157e-03, -2.1432e-03,  2.4254e-03,
                       8.1297e-04,  1.3588e-03, -8.5503e-04,  2.2822e-04, -2.8862e-03,
                       2.7791e-03, -4.4077e-04,  2.1415e-03,  1.6010e-03,  2.7228e-03,
                      -1.6691e-03,  2.9686e-03,  5.3003e-04,  2.4541e-03, -3.1409e-03,
                      -2.6880e-03,  9.1587e-04,  1.3059e-03,  6.9235e-04, -2.9165e-03,
                      -2.6077e-03,  3.1148e-03, -8.4060e-04, -2.4227e-03,  1.3112e-03,
                       2.8813e-03,  6.4641e-05, -1.1892e-03,  2.8147e-03,  6.7165e-06,
                       1.7873e-03,  8.6257e-04,  1.5133e-03, -3.5593e-05, -2.1255e-03,
                      -2.9019e-03,  1.3410e-03, -1.7167e-04,  3.0007e-03,  1.3519e-03,
                      -3.4612e-04, -1.7188e-03,  1.3276e-03, -2.2084e-03, -1.8649e-03,
                      -1.4960e-03,  2.7398e-04,  2.3119e-03,  1.3311e-03, -2.4082e-03,
                      -1.5446e-03, -1.7708e-03,  6.7459e-04])),
             ('layer.3.weight',
              tensor([[ 0.0262,  0.0287,  0.0534,  ...,  0.0844, -0.0196,  0.0310],
                      [-0.0410,  0.0516,  0.0732,  ...,  0.0493,  0.0427, -0.0197],
                      [-0.0730, -0.0712,  0.0207,  ...,  0.0104, -0.0652,  0.0732],
                      ...,
                      [ 0.0298,  0.0113,  0.0649,  ..., -0.0367,  0.0678,  0.0449],
                      [ 0.0716,  0.0632, -0.0181,  ..., -0.0627,  0.0360, -0.0179],
                      [-0.0060,  0.0466,  0.0511,  ..., -0.0803,  0.0093,  0.0049]])),
             ('layer.3.bias',
              tensor([ 0.0345,  0.0280,  0.0862,  0.0512,  0.0394,  0.0388, -0.0239,  0.0241,
                      -0.0645, -0.0081, -0.0843, -0.0747,  0.0523,  0.0626,  0.0314, -0.0098,
                      -0.0854]))])

In [305]:
loss_fn=nn.CrossEntropyLoss()
optimizer=torch.optim.Adam(model_0.parameters(),lr=0.01)

In [306]:
model_0.to(device="cuda")

model_v0(
  (layer): Sequential(
    (0): Linear(in_features=100000, out_features=128, bias=True)
    (1): ReLU()
    (2): Dropout(p=0.3, inplace=False)
    (3): Linear(in_features=128, out_features=17, bias=True)
  )
)

In [307]:
def accuracy_score(prediction,label):
    result=(torch.argmax(prediction)==label).sum().item()
    return result

In [308]:
epochs=20
train_losses=[]
test_losses=[]
total_train_acc=[]
total_test_acc=[]

for epoch in range(epochs):
    model_0.train()
    total_train=0
    train_loss=0
    train_acc=0
    for X,Y in train_loader:
        X=X.to("cuda")
        Y=Y.to("cuda")
        preds=model_0(X)
        loss=loss_fn(preds,Y)
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
        train_loss+=loss.item()
        total_train+=Y.size(0)
        train_acc+=accuracy_score(preds,Y)
    train_losses.append(train_loss/len(train_loader))
    total_train_acc.append((train_acc/total_train)*100)
    model_0.eval()
    test_loss=0
    total_test=0
    test_acc=0
    with torch.inference_mode():
        for X,Y in test_loader:
            X=X.to("cuda")
            Y=Y.to("cuda")
            test_preds=model_0(X)
            loss=loss_fn(test_preds,Y)
            test_loss+=loss.item()
            total_test+=Y.size(0)
            test_acc+=accuracy_score(test_preds,Y)
        test_losses.append(test_loss/len(test_loader))
        total_test_acc.append((test_acc/total_test)*100)
    print(f"epochs: {epoch} | train loss: {train_losses[-1]} | test loss: {test_losses[-1]} | train accuracy: {total_train_acc[-1]} | test accuracy: {total_test_acc[-1]}")

epochs: 0 | train loss: 0.2351360180206375 | test loss: 0.06247863363044286 | train accuracy: 0.3367381299809182 | test accuracy: 0.5385996409335727
epochs: 1 | train loss: 0.017393870453406797 | test loss: 0.06003812770460562 | train accuracy: 0.24694129531934 | test accuracy: 0.5385996409335727
epochs: 2 | train loss: 0.01006782020285722 | test loss: 0.09463797315585387 | train accuracy: 0.2806151083174318 | test accuracy: 0.4488330341113106
epochs: 3 | train loss: 0.008922123765156735 | test loss: 0.08208154704749242 | train accuracy: 0.17959366932315637 | test accuracy: 0.5385996409335727
epochs: 4 | train loss: 0.008512204102281653 | test loss: 0.09531327454016361 | train accuracy: 0.2581658996520373 | test accuracy: 0.3141831238779174
epochs: 5 | train loss: 0.008706212120823955 | test loss: 0.09356059103495877 | train accuracy: 0.31428892131552366 | test accuracy: 0.5385996409335727
epochs: 6 | train loss: 0.005345013174065069 | test loss: 0.08478472951783098 | train accuracy: 0.4714333819732855 | test accuracy: 0.4488330341113106
epochs: 7 | train loss: 0.0060233536133441345 | test loss: 0.10132278127694658 | train accuracy: 0.4040857559771018 | test accuracy: 0.4488330341113106
epochs: 8 | train loss: 0.005182256118163876 | test loss: 0.09487460030126564 | train accuracy: 0.3367381299809182 | test accuracy: 0.4488330341113106
epochs: 9 | train loss: 0.00496689481786096 | test loss: 0.10210911008489834 | train accuracy: 0.13469525199236726 | test accuracy: 0.4488330341113106
epochs: 10 | train loss: 0.006631437202165454 | test loss: 0.10322344422294642 | train accuracy: 0.31428892131552366 | test accuracy: 0.13464991023339318
epochs: 11 | train loss: 0.004241824862651373 | test loss: 0.0952926521856479 | train accuracy: 0.2806151083174318 | test accuracy: 0.13464991023339318
epochs: 12 | train loss: 0.004813225876821539 | test loss: 0.1046117949654201 | train accuracy: 0.14591985632506455 | test accuracy: 0.4488330341113106
epochs: 13 | train loss: 0.0052604455473878415 | test loss: 0.1022970160744137 | train accuracy: 0.2581658996520373 | test accuracy: 0.2244165170556553
epochs: 14 | train loss: 0.005307319781710879 | test loss: 0.11062890562640178 | train accuracy: 0.19081827365585363 | test accuracy: 0.5385996409335727
epochs: 15 | train loss: 0.004509096118212507 | test loss: 0.10724028776009138 | train accuracy: 0.17959366932315637 | test accuracy: 0.2244165170556553
epochs: 16 | train loss: 0.006482904417267625 | test loss: 0.10750208020009576 | train accuracy: 0.1683690649904591 | test accuracy: 0.2244165170556553
epochs: 17 | train loss: 0.005064022117107393 | test loss: 0.10453749557048114 | train accuracy: 0.2693905039847345 | test accuracy: 0.3141831238779174
epochs: 18 | train loss: 0.0034260404845388834 | test loss: 0.10797745737107992 | train accuracy: 0.49388259063868 | test accuracy: 0.2244165170556553
epochs: 19 | train loss: 0.004257814514150909 | test loss: 0.10663388344961763 | train accuracy: 0.2020428779885509 | test accuracy: 0.5385996409335727

In [309]:
lang=["Learning is a lifelong journey.",
      "सीखना एक आजीवन यात्रा है।",
      "கற்பது வாழ்நாள் முழுவதும் தொடரும் ஒரு பயணம்.",
      "ಕಲಿಕೆ ಜೀವನ ಪರ್ಯಂತದ ಒಂದು ಪ್ರಯಾಣ.",
      "Aprender es un viaje de toda la vida.",
      "Hoe gaat het met je?"]
def predict_language(model,lang,text_transformer,label_encoder):
    for text in lang:
        model.eval()
        with torch.inference_mode():
            transform_text=remove_sub(text)
            transform_text=text_transformer.transform([transform_text.lower()])
            transform_text=transform_text.toarray()
            transform_text=torch.tensor(transform_text,dtype=torch.float,device="cuda")
            bb=model(transform_text)
            result=torch.argmax(bb,dim=1)
            int_to_lang=label_encoder.inverse_transform(result.cpu())
            print(f"{text} is from {int_to_lang}")
predict_language(model_0,lang,tfidf,encoder)

Learning is a lifelong journey. is from ['English']
सीखना एक आजीवन यात्रा है। is from ['Hindi']
கற்பது வாழ்நாள் முழுவதும் தொடரும் ஒரு பயணம். is from ['Tamil']
ಕಲಿಕೆ ಜೀವನ ಪರ್ಯಂತದ ಒಂದು ಪ್ರಯಾಣ. is from ['Kannada']
Aprender es un viaje de toda la vida. is from ['Spanish']
Hoe gaat het met je? is from ['Dutch']

In [315]:
from pathlib import Path
import joblib
path=Path("./model_0")
path.mkdir(exist_ok=True)
model_path=path/"model_0.pth"
encoder_path=path/"label_encoder.pkl"
tfidf_path=path/"tfidf_vector.pkl"

print(f"model_0 saving in {model_path}...")
torch.save(obj=model_0.state_dict(),f=model_path)
print("...file saved...")

joblib.dump(tfidf,tfidf_path)
joblib.dump(encoder,encoder_path)

model_0 saving in model_0\model_0.pth...
...file saved...

['model_0\\label_encoder.pkl']

In [310]:
# lang_detector=model_v0(xtrain.shape[1],17).to("cuda")
# lang_detector.load_state_dict(torch.load(model_path))

lang=["Life is full of new opportunities.", #english
      "La vie est pleine de nouvelles opportunités.", #french
      "La vida está llena de nuevas oportunidades.", #spanish
      "A vida está cheia de novas oportunidades.", #Portuguese
      "La vita è piena di nuove opportunità.", #italian
      "Жизнь полна новых возможностей.", #russian
      "Livet är fullt av nya möjligheter.", #swedish
      "ജീവിതം പുതിയ അവസരങ്ങളാൽ നിറഞ്ഞതാണ്.", #malayalam
      "Het leven zit vol nieuwe kansen.", #dutch
      "الحياة مليئة بالفرص الجديدة.", #arabic
      "Hayat yeni fırsatlarla doludur.", #turkish
      "Das Leben ist voller neuer Möglichkeiten.", #german
      "வாழ்க்கை புதிய வாய்ப்புகளால் நிறைந்துள்ளது.", #tamil
      "Livet er fuld af nye muligheder.", #danish
      "ಜೀವನ ಹೊಸ ಅವಕಾಶಗಳಿಂದ ತುಂಬಿದೆ.", #kanada
      "Η ζωή είναι γεμάτη νέες ευκαιρίες.", #greek
      "ज़िंदगी नए अवसरों से भरी होती है।", #hindi
      "a vida é riqueza"] #portuguese

predict_language(model_0,lang,tfidf,encoder)

Life is full of new opportunities. is from ['English']
La vie est pleine de nouvelles opportunités. is from ['French']
La vida está llena de nuevas oportunidades. is from ['Spanish']
A vida está cheia de novas oportunidades. is from ['Portugeese']
La vita è piena di nuove opportunità. is from ['Italian']
Жизнь полна новых возможностей. is from ['Russian']
Livet är fullt av nya möjligheter. is from ['Sweedish']
ജീവിതം പുതിയ അവസരങ്ങളാൽ നിറഞ്ഞതാണ്. is from ['Malayalam']
Het leven zit vol nieuwe kansen. is from ['Dutch']
الحياة مليئة بالفرص الجديدة. is from ['Arabic']
Hayat yeni fırsatlarla doludur. is from ['Turkish']
Das Leben ist voller neuer Möglichkeiten. is from ['German']
வாழ்க்கை புதிய வாய்ப்புகளால் நிறைந்துள்ளது. is from ['Tamil']
Livet er fuld af nye muligheder. is from ['Danish']
ಜೀವನ ಹೊಸ ಅವಕಾಶಗಳಿಂದ ತುಂಬಿದೆ. is from ['Kannada']
Η ζωή είναι γεμάτη νέες ευκαιρίες. is from ['Greek']
ज़िंदगी नए अवसरों से भरी होती है। is from ['Hindi']
a vida é riqueza is from ['Portugeese']

In [311]:
name=["i am the boy"]
predict_language(model_0,name,tfidf,encoder)

i am the boy is from ['English']

In [312]:
name=["காலை வணக்கம்"]
predict_language(model_0,name,tfidf,encoder)

காலை வணக்கம் is from ['Tamil']

In [314]:
name=["Eu gosto de aprender novas línguas."]
predict_language(model_0,name,tfidf,encoder)

Eu gosto de aprender novas línguas. is from ['Portugeese']

In [317]:
lang_detector=model_v0(xtrain.shape[1],17).to("cuda")
lang_detector.load_state_dict(torch.load(model_path))

le=joblib.load(encoder_path)
text_vector=joblib.load(tfidf_path)


name=[
    "Bugün hava çok güzel.", #Turkish
    "Eu gosto de aprender novas línguas.", #portuguese
    "मुझे नई भाषाएँ सीखना पसंद है।", # Hindi
    "أنا أحب تعلم لغات جديدة.", # arabic
    "I like learning new languages.", # english
    "Me gusta aprender nuevos idiomas.", #Spanish
    "Ich lerne gerne neue Sprachen.", # German
    "Mi piace imparare nuove lingue.", # italian
    "Μου αρέσει να μαθαίνω νέες γλώσσες." # greek
]

predict_language(lang_detector,name,text_vector,le)

Bugün hava çok güzel. is from ['Turkish']
Eu gosto de aprender novas línguas. is from ['Portugeese']
मुझे नई भाषाएँ सीखना पसंद है। is from ['Hindi']
أنا أحب تعلم لغات جديدة. is from ['Arabic']
I like learning new languages. is from ['English']
Me gusta aprender nuevos idiomas. is from ['Spanish']
Ich lerne gerne neue Sprachen. is from ['German']
Mi piace imparare nuove lingue. is from ['Italian']
Μου αρέσει να μαθαίνω νέες γλώσσες. is from ['Greek']